

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: #222222;
  color: #ffff;
  margin: 0;
  padding: 0;

}

#app{
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  background: #111;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

h1{
  color: #42b883;
  text-align: center;
  margin-bottom: 1.5rem;
}

h2, h3 {
  color: #42b883;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

